.form-control{
  width: 200px;
  height: 50px;
  border: var(--bs-border-width) solid #ba237f;
  text-align: center;
}
.error{
  color: rgb(160, 17, 17);
}
.form-select{
  width: 100px;
}
.all{
  margin-left: 170%;
}
.butt{
  font-size: 40px;
  background-color: #a55285;
}


